//mixin til styles som genbruges
@mixin redbackground {
    background: $red;
    background: radial-gradient(circle, $red 51%, #551021 72%);
}

@mixin heading {
    color: $gold;
    font-family: 'Ephesis', cursive;
    font-size: 3em;
    text-align: center;
    padding: 3vh;
}

@mixin text {
    color: $white;
    font-family: 'Karla', sans-serif;
}
@mixin button {
    padding: 10px;
    font-size: 2vw;
    font-weight: 600;
    color: black;
    background-color: #F9BC50;
    border: 3px solid #bd8c39;
    outline: 3px solid #bd8c39;
    outline-offset: 3px;
    transition: 0.1s;
    &:hover{
        outline-offset: 6px;
    }
    
}