$gold: #d3ac2b;
$bluegardient: linear-gradient(204deg, rgba(0, 0, 102, 1) 51%, rgba(0, 0, 64, 1) 72%);
$white:#f0f0e5;
$black: #1d2326;
$red-gardient: linear-gradient(204deg, rgba(119, 24, 48, 1) 51%, rgba(85, 16, 33, 1) 72%);
$red:#771830;