@import "helpers/variabler";
@import "helpers/animation";
@import "helpers/mixin";
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: $red;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D2326;
    z-index: 90000;
    svg {
        width: 45vw;
    }
    #wheel1,
    #wheel2 {
        animation-name: Rotation;
        animation-duration: 1s;
        // animation-delay: ;
        animation-iteration-count: infinite;
        // animation-direction: ;
        animation-timing-function: linear;
        animation-fill-mode: none;
        transform-origin: center;
        transform-box: fill-box;
    }
}

.loader.hidden {
    animation: fadeOut 1s 2s ease forwards;
}

//Footer
footer {
    background: $black;
    div {
        padding: 2em;
        img {
            width: 15%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            transform: rotate(30deg);
        }
    }
    h2 {
        @include heading();
        margin: 0;
        padding: 0;
    }
    h3 {
        color: $white;
        text-align: center;
        font-family: 'Karla', sans-serif;
        margin: 1em;
    }
    #social {
        color: $white;
        justify-content: center;
    }
    i {
        margin-right: 0.5em;
        &:hover {
            color: $gold;
        }
    }
    article {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 2em;
        @include text();
        h4 {
            padding-bottom: 0.5em;
        }
        li {
            list-style: none;
        }
    }
}

#loader {
    width: 45vw;
}

#wheel1,
#wheel2 {
    animation-name: Rotation;
    animation-duration: 1s;
    // animation-delay: ;
    animation-iteration-count: infinite;
    // animation-direction: ;
    animation-timing-function: linear;
    animation-fill-mode: none;
    transform-origin: center;
    transform-box: fill-box;
}

.loader.hidden {
    animation: fadeOut 1s 2s ease forwards;
}