@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap");
.headerpicture {
  height: 50vh;
  background-image: url(/assets/images/Sal_02.jpg);
  background-size: cover;
  background-position: 0px;
}

.specialforestillinger {
  font-family: 'Karla', sans-serif;
  background: #771830;
  background: radial-gradient(circle, #771830 51%, #551021 72%);
}

.specialforestillinger #specialfh2 {
  text-align: center;
  padding: 3vh;
  font-size: 5vh;
  color: #D3AC2B;
  margin-top: 0;
}

.specialforestillinger .specialfgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 2vw;

  
}

.specialforestillinger .specialfgrid figure {
  text-align: center;
}

.specialforestillinger .specialfgrid figure #citizenpic {
  width: 60%;
  padding: 5%;
}

.specialforestillinger .specialfgrid figure #pawpic {
  width: 60%;
  padding: 5%;
}

.specialforestillinger .specialfgrid figure figcaption {
  color: white;
  font-size: 3vh;
}

.specialforestillinger .specialfgrid figure figcaption h3 {
  color: #D3AC2B;
}

.arrangamentersection {
  font-family: 'Karla', sans-serif;
  background: #771830;
  background: radial-gradient(circle, #771830 51%, #551021 72%);
}

.arrangamentersection #arrangamenterh2 {
  text-align: center;
  padding: 3vh;
  font-size: 5vh;
  color: #D3AC2B;
  margin-top: 0;
  color: #D3AC2B;
  font-family: 'Ephesis', cursive;
  font-size: 3em;
  text-align: center;
  padding: 3vh;
}

.arrangamentersection #arrangamentp {
  font-family: 'Karla', sans-serif;
  margin-left: 5%;
  color: white;
  font-size: 3vh;
  padding: 2vh;
  color: white;
  font-size: 3vh;
  padding: 2vh;
}

.arrangamentersection #arranggrid figure {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  width: 90%;
  margin: auto;
  padding-bottom: 5vh;
}

.arrangamentersection #arranggrid figure figcaption {
  color: white;
  font-size: 3vh;
  padding: 2vh;
  float: right;
  font-size: 3vh;
}

.arrangamentersection #arranggrid figure figcaption #arrangamentertitle {
  color: #D3AC2B;
  padding: 3vh;
}

.arrangamentersection #arranggrid figure figcaption p {
  padding-left: 3vh;
}

.arrangamentersection #arranggrid figure figcaption #tilmeldbutton {
  margin-left: 5%;
  margin: 10%;
  padding: 2vh;
  background: transparent;
  padding: 10px;
  font-size: 2vw;
  font-weight: 600;
  color: black;
  background-color: #F9BC50;
  border: 3px solid #bd8c39;
  outline: 3px solid #bd8c39;
  outline-offset: 3px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.arrangamentersection #arranggrid figure figcaption #tilmeldbutton:hover {
  outline-offset: 6px;
}

.arrangamentersection #arranggrid figure figcaption #tilmeldbutton a {
  color: black;
  font-weight: bold;
}

.arrangamentersection img {
  width: 100%;
}

.tilmeldsection {
  font-family: 'Karla', sans-serif;
  background: #771830;
  background: radial-gradient(circle, #771830 51%, #551021 72%);
}

.tilmeldsection #medlemh2 {
  text-align: center;
  padding: 3vh;
  font-size: 5vh;
  color: #D3AC2B;
  margin-top: 0;
  color: #D3AC2B;
  font-family: 'Ephesis', cursive;
  font-size: 3em;
  text-align: center;
  padding: 3vh;
}

.tilmeldsection p {
  padding-left: 3vh;
  color: white;
  font-size: 3vh;
}

.tilmeldsection p #goldspan {
  color: #D3AC2B;
  font-size: 4vh;
}

.tilmeldsection .center-box {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tilmeldsection .center-box select {
  color: #D3AC2B;
  font-size: 5vh;
}

.tilmeldsection .Hh2 {
  color: #D3AC2B;
  font-size: 2rem;
  text-align: center;
}

.tilmeldsection #tilmeldh2 {
  text-align: center;
  padding: 3vh;
  font-size: 5vh;
  color: #D3AC2B;
  margin-top: 0;
  color: #D3AC2B;
  font-family: 'Ephesis', cursive;
  font-size: 3em;
  text-align: center;
  padding: 3vh;
}

.tilmeldsection form {
  width: 50%;
  margin: auto;
  padding-bottom: 4vh;
  display: none;
}

.tilmeldsection input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  margin: 8px 0;
}

.tilmeldsection label {
  text-align: center;
  padding: 10px;
}

.tilmeldsection button {
  height: 50px;
  width: 50%;
  font-size: 2vh;
  margin-left: 25%;
}

.tilmeldsection #textarea {
  height: 100px;
}

.tilmeldsection .error {
  border-color: red;
}

.tilmeldsection .errormessage {
  color: red;
}

.tilmeldsection .feedback {
  color: red;
  font-size: 2vh;
}

.tilmeldsection #bestilh2 {
  text-align: center;
  padding: 3vh;
  font-size: 5vh;
  color: #D3AC2B;
  margin-top: 0;
}

.tilmeldsection #betaling {
  display: none;
  text-align: center;
}

.tilmeldsection #betaling #betalingh3 {
  text-align: center;
  padding: 3vh;
  font-size: 5vh;
  color: #D3AC2B;
  margin-top: 0;
  color: #D3AC2B;
  font-family: 'Ephesis', cursive;
  font-size: 3em;
  text-align: center;
  padding: 3vh;
}

.tilmeldsection #betaling .paymentdiv {
  width: 50%;
  margin: auto;
}

.tilmeldsection #betaling .paymentdiv #betalingimg {
  width: 50%;
}

.tilmeldsection #betaling .paymentdiv .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.tilmeldsection #betaling #tilmeldbutton {
  width: 25%;
  margin: auto;
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
  .specialforestillinger .specialfgrid {
    display: block;
  }
  .arrangamentersection #arranggrid figure {
    display: block;
  }
  .arrangamentersection #arranggrid figure img {
    width: 80%;
    display: block;
    margin: auto;
  }
  .tilmeldsection form {
    width: 60%;
    margin: auto;
  }
  .tilmeldsection form form {
    width: 60%;
    margin: auto;
  }
  header img {
    width: 10vw;
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .specialforestillinger .specialfgrid {
    display: block;
  }
  .arrangamentersection #arranggrid figure {
    display: block;
  }
  .tilmeldsection #kategori.select {
    font-size: 3vh;
  }
  .tilmeldsection form {
    width: 80%;
    margin: auto;
  }
}
