@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.slideshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 70vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slideshow .slide {
  position: absolute;
  width: 100%;
  height: 70vh;
  display: none;
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slideshow .active-slide {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slideIn 2s cubic-bezier(0.7, 0, 0.3, 1) 0s 1 forwards;
          animation: slideIn 2s cubic-bezier(0.7, 0, 0.3, 1) 0s 1 forwards;
}

.slideshow .prev-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slideshow .dot-cont {
  position: absolute;
  z-index: 11;
  bottom: 5px;
  width: 100px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.slideshow .dot-cont .dot {
  margin: 5px;
  width: 50%;
  height: 75%;
  border-radius: 50%;
  background: #d3ac2b;
}

.slideshow .dot-cont .dot:hover {
  cursor: pointer;
  background: white;
}

.slideshow .dot-cont .dot .active-dot {
  -webkit-animation: fadeIn 1s cubic-bezier(0.7, 0, 0.3, 1) 0s 1 forwards;
          animation: fadeIn 1s cubic-bezier(0.7, 0, 0.3, 1) 0s 1 forwards;
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translate(-100vw, 0);
            transform: translate(-100vw, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translate(-100vw, 0);
            transform: translate(-100vw, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    background: rgba(255, 255, 255, 0.5);
  }
  100% {
    background: rgba(255, 255, 255, 0.9);
  }
}

@keyframes fadeIn {
  0% {
    background: rgba(255, 255, 255, 0.5);
  }
  100% {
    background: rgba(255, 255, 255, 0.9);
  }
}

section {
  background: linear-gradient(204deg, #771830 51%, #551021 72%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

section figure {
  height: 50%;
  margin: 3em;
}

section figure img {
  width: 100%;
}

section figure h2 {
  color: #d3ac2b;
  font-family: 'Ephesis', cursive;
  font-size: 3em;
  text-align: center;
}

section figure p {
  color: #f0f0e5;
  font-family: 'Karla', sans-serif;
  margin-top: 0.5em;
}

section figure a {
  text-decoration: none;
  color: #d3ac2b;
  font-weight: bold;
}

section figure a:hover {
  color: #f0f0e5;
}

footer {
  background: #1d2326;
}

footer div {
  padding: 2em;
}

footer div img {
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

footer h2 {
  color: #d3ac2b;
  font-family: 'Ephesis', cursive;
  font-size: 3em;
  text-align: center;
}

footer h3 {
  color: #f0f0e5;
  text-align: center;
  font-family: 'Karla', sans-serif;
  margin: 1em;
}

footer #social {
  color: #f0f0e5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer i {
  margin-right: 0.5em;
}

footer i:hover {
  color: #d3ac2b;
}

footer article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  padding: 2em;
  color: #f0f0e5;
  font-family: 'Karla', sans-serif;
}

footer article h4 {
  padding-bottom: 0.5em;
}

footer article li {
  list-style: none;
}
