
@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap");
@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes Rotation {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes Rotation {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translate(-100vw, 0);
            transform: translate(-100vw, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translate(-100vw, 0);
            transform: translate(-100vw, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    background: rgba(255, 255, 255, 0.5);
  }
  100% {
    background: rgba(255, 255, 255, 0.9);
  }
}

@keyframes fadeIn {
  0% {
    background: rgba(255, 255, 255, 0.5);
  }
  100% {
    background: rgba(255, 255, 255, 0.9);
  }
}


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

html {
  scroll-behavior: smooth;
}


body {
  background: #771830;
}


.loader {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1D2326;
  z-index: 90000;
}

.loader svg {
  width: 45vw;
}


.loader #wheel1,
.loader #wheel2 {

.loader #wheel1, .loader #wheel2 {

  -webkit-animation-name: Rotation;
          animation-name: Rotation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}


.loader.hidden {
  -webkit-animation: fadeOut 1s 2s ease forwards;
          animation: fadeOut 1s 2s ease forwards;
}

footer {
  background: #1d2326;
}

footer div {
  padding: 2em;
}

footer div img {
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

footer h2 {
  color: #d3ac2b;
  font-family: 'Ephesis', cursive;
  font-size: 3em;
  text-align: center;
  padding: 3vh;
  margin: 0;
  padding: 0;
}

footer h3 {
  color: #f0f0e5;
  text-align: center;
  font-family: 'Karla', sans-serif;
  margin: 1em;
}

footer #social {
  color: #f0f0e5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer i {
  margin-right: 0.5em;
}

footer i:hover {
  color: #d3ac2b;
}

footer article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  padding: 2em;
  color: #f0f0e5;
  font-family: 'Karla', sans-serif;
}

footer article h4 {
  padding-bottom: 0.5em;
}

footer article li {
  list-style: none;

@-webkit-keyframes Rotation {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes Rotation {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.loader.hidden {
  -webkit-animation: fadeOut 1s 2s ease forwards;
          animation: fadeOut 1s 2s ease forwards;
}

@-webkit-keyframes fadeOut {
  100% {
    background-color: #3f5c40;
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  100% {
    background-color: #3f5c40;
    opacity: 0;
    visibility: hidden;
  }

}
