* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1D2326;
  z-index: 90000;
}

.loader svg {
  width: 45vw;
}

.loader #wheel1, .loader #wheel2 {
  -webkit-animation-name: Rotation;
          animation-name: Rotation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

@-webkit-keyframes Rotation {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes Rotation {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.loader.hidden {
  -webkit-animation: fadeOut 1s 2s ease forwards;
          animation: fadeOut 1s 2s ease forwards;
}

@-webkit-keyframes fadeOut {
  100% {
    background-color: #3f5c40;
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  100% {
    background-color: #3f5c40;
    opacity: 0;
    visibility: hidden;
  }
}
